@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: 41, 37, 36;
    --bg-primary: 243, 244, 246;
    --bg-secondary: 229, 231, 235;
    --bg-tertiary: 209, 213, 219;

    --ba-100: var(--chakra-colors-blackAlpha-100);
    --ba-200: var(--chakra-colors-blackAlpha-200);
    --ba-300: var(--chakra-colors-blackAlpha-300);
    --ba-400: var(--chakra-colors-blackAlpha-400);
    --ba-500: var(--chakra-colors-blackAlpha-500);
    --ba-600: var(--chakra-colors-blackAlpha-600);
    --ba-700: var(--chakra-colors-blackAlpha-700);
    --ba-800: var(--chakra-colors-blackAlpha-800);
    --ba-900: var(--chakra-colors-blackAlpha-900);
  }

  .dark {
    --text-primary: 255, 255, 255;
    --bg-primary: 17, 24, 39;
    --bg-secondary: 31, 41, 55;
    --bg-tertiary: 55, 65, 81;
  }
}

.note-columns-container {
  display: flex;
  flex-grow: 1;
  transition: width 100ms cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 800px) {
  .note-columns-container {
    width: unset !important;
  }
}

/* MARKDOWN CONTENT */

.markdown-content strong,
.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  font-weight: 600;
}

.markdown-content ol {
  counter-reset: ordered-listitem;
}

.markdown-content ol ol,
.markdown-content ol ul,
.markdown-content ul ol,
.markdown-content ul ul {
  margin-bottom: 0;
  margin-top: 8px;
}

.markdown-content ol,
.markdown-content ul {
  list-style: none;
  padding-left: 0;
}

.markdown-content ol,
.markdown-content ul,
.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}
.markdown-content li + li {
  margin-top: 0.5rem;
}

.markdown-content ol > li:after {
  content: counter(ordered-listitem);
  counter-increment: ordered-listitem;
  left: 0;
  position: absolute;
  top: 0;
}

.markdown-content li {
  line-height: 1.4;
  padding-left: 32px;
  position: relative;
}

.markdown-content ul > li:before {
  background: var(--ba-600);
  border-radius: 50%;
  content: '';
  height: 5px;
  left: 15px;
  position: absolute;
  top: 8px;
  width: 5px;
}

.markdown-content .md-heading-num,
.markdown-content ol > li:after {
  background: var(--ba-100);
  border-radius: 20px;
  color: var(--ba-600);
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  line-height: 19px;
  padding-top: 1px;
  text-align: center;
  width: 20px;
}

.markdown-content h1 {
  font-size: 2rem;
  line-height: 1.25;
}

.markdown-content h2 {
  font-size: 1.5rem;
  line-height: 1.33;
}

.markdown-content h3 {
  font-size: 1.25rem;
  line-height: 1.5;
}

.markdown-content a {
  color: var(--chakra-colors-blue-700);
  text-decoration: underline;
}
.markdown-content a:visited {
  color: var(--chakra-colors-red-800);
}

.markdown-content table {
  @apply divide-y divide-gray-200 dark:divide-gray-700;
}

.markdown-content table th {
  @apply px-2 py-1 text-sm font-medium uppercase text-gray-500;
}

.markdown-content table tbody tr {
  @apply hover:bg-gray-100 dark:hover:bg-gray-700;
}

.markdown-content table td {
  @apply px-2 py-1 text-sm text-gray-800 dark:text-gray-200;
}
.markdown-content table td:first-child {
  @apply font-medium;
}
